# RewriteEngine On

# Set the base URL for the rewrite rules
# RewriteBase /~hzhu20/

# Handle API requests
# RewriteRule ^api/ index.php [L,QSA]

# Handle SPA routes - serve index.html
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^ index.html [QSA,L]

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
