.hover-effect-button:hover {
    transform: scale(1.1); /* Scale up the button */
    background-color: #531E76 !important; /* Change to the new color */
    border-color: #531E76 !important; /* Optional: Change border color if needed */
}
